@import "variables";
@import "_mixins";

.leftbar{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $bodyHeadingColor;
    font-size: 14px;

    h4{
        font-size: 16px;
        margin: 10px 0;
    }
}

.topDetails{
    padding: 0 10px;
    line-height: 1.5;
    flex: 2;

    .heading{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: -10px;

        h4{
            font-size: 17px;
        }
    }

    .iconsContainer{
        display: flex;
        justify-content: space-between;
        width: 50px;
        align-items: center;

        div{
            cursor: pointer;
        }
    }

    .faded{
        color: $fadedTextColor;
        margin-top: 10px;
    }

    .company{
        display: flex;

        .name{
            padding-right: 1vw;
            border-right: 1px solid;
        }

        .icon{
            padding-left: 1vw;
            width: 30px;
            display: flex;
            justify-content: space-around;
        }
    }

    .link{
        text-decoration: none;
        color: $bodyIconColor;
    }

    .mediaLinksContainer{
        margin: 25px 0;
        padding: 10px 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $fadedTextColor;
        width: 100%;
        display: flex;
        justify-content: center;

        .mediaLinks{
            width: 60px;
            display: flex;
            justify-content: space-between;
            color: $bodyIconColor;

            div{
                cursor: pointer;
            }
        }
    }
}


.topics{
    flex: 1;
    padding: 0 10px 10px;

    .topicContainer{
        display: flex;
        flex-wrap: wrap;
    }

    .topic{
        border: 1px solid $bodyHeadingColor;
        border-radius: 5px;
        padding: 2px 5px;
        margin: 2px 2px;
    }
}

.contacts{
    flex: 2;
    padding: 0 10px 10px;

    @include listDescription;
}

.additional{
    flex: 2;
    padding: 0 10px 10px;

    @include listDescription;
}

.buttons{
    flex: 1;
    display: flex;
    justify-content: space-around;

    .callBigButton{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin: 5px 15px;
        background-color: $bodyIconColor;
        border-radius: 50%;
        color: white;
        cursor: pointer;
    }
    .smallButtons{
        flex: 4;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid $bodyIconColor;
        border-radius: 10px;
        margin: 5px 15px 0 5px;
        color: $bodyIconColor;

        div{
            cursor: pointer;
        }
    }
}




