$navbarColor: #08262E;
$navbarInputColor: #203E46;
$navbarIconColor: #3BD6CF;

$bodyIconColor: #41BCC3;
$bodyHeadingColor: #3E555B;
$spanColor: #F1809B;

$fadedTextColor: #C0CCD0;

$tabMainColor: #08464B;
$tabFadedColor: #6F8C94;

$yellowIcon: #FFBA44;
